<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>for</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>

<body>
    <div id="app" class="container">
        <nav class="nav">
            <a class="nav-link active" href="#" v-for="(item,index) in name">{{item}}</a>
            <!-- <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </nav>
        <div v-for='(item,index) in goods'>{{item}}</div>
    </div>
</body>
<script src="../../vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            name:['新闻','娱乐','体育'],
            goods:['今日头条','今日娱乐','今日体育']
        }
    })
</script>

</html>