<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/carts.css" />
</head>

<body>
    <div id="car">
        <section class="cartMain">
            <div class="cartMain_hd">
                <ul class="order_lists cartTop">
                    <li class="list_chk">
                        <!--所有商品全选-->
                        <input v-model="allsel" type="checkbox" id="all" class="whole_check">
                        <label for="all" :class="{mark:allsel}"></label>
                        全选
                    </li>
                    <li class="list_con">商品信息</li>
                    <li class="list_info">商品参数</li>
                    <li class="list_price">单价</li>
                    <li class="list_amount">数量</li>
                    <li class="list_sum">金额</li>
                    <li class="list_op">操作</li>
                </ul>
            </div>

            <div class="cartBox" v-for="(item,index) in goods">
                <div class="shop_info">
                    <div class="all_check">
                        <!--店铺全选-->
                        <input type="checkbox" class="shopChoice" v-model="item.shopselect">
                        <label class="shop" :class="{mark:item.shopselect}" @click="shopall(index)"></label>
                    </div>
                    <div class="shop_name">
                        店铺：<a href="javascript:;">{{item.shopname}}</a>
                    </div>
                </div>
                <div class="order_content">
                    <ul class="order_lists" v-for="(item1,index1) in item.ordercontent">
                        <li class="list_chk">
                            <input type="checkbox" class="son_check" v-model="item1.gselect">
                            <label :class="{mark:item1.gselect}" @click="goodsel(index,index1)"></label>
                        </li>
                        <li class=" list_con">
                            <div class="list_img"><a href="javascript:;"><img :src="item1.gimg" alt=""></a></div>
                            <div class="list_text"><a href="javascript:;">{{item1.gtext}}</a></div>
                        </li>
                        <li class="list_info">
                            <p>规格：默认</p>
                            <p>尺寸：16*16*3(cm)</p>
                        </li>
                        <li class="list_price">
                            <p class="price">￥{{item1.price}}</p>
                        </li>
                        <li class="list_amount">
                            <div class="amount_box">
                                <a @click="item1.gnum>1?item1.gnum--:''" href="javascript:;" class="reduce"
                                    :class="{reSty:item1.gnum==1}">-</a>
                                <input type="text" v-model.number="item1.gnum" @change="item1.gnum<=1
                                ?item1.gnum=1:item1.gnum;item1.gnum>=item1.maxnum
                                ?item1.gnum=item1.maxnum:item1.gnum" class="sum">
                                <a @click="item1.gnum<item1.maxnum ?item1.gnum++:''" href="javascript:;" class="plus"
                                    :class="{reSty:item1.gnum==item1.maxnum}">+</a>
                            </div>
                        </li>
                        <li class="list_sum">
                            <p class="sum_price">{{item1.gnum*item1.price}}</p>
                        </li>
                        <li class="list_op">
                            <p class="del"><a @click="rmgoods(index,index1)" href="javascript:;" class="delBtn">移除商品</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <!--底部-->
            <div class="bar-wrapper">
                <div class="bar-right">
                    <div class="piece">已选商品<strong class="piece_num">{{totalsel}}</strong>件</div>
                    <div class="totalMoney">共计: <strong class="total_text">{{sum}}</strong></div>
                    <div class="calBtn"><a href="javascript:;">结算</a></div>
                </div>
            </div>
        </section>
        <section class="model_bg" :style="{display:deldisplay?'block':'none'}"></section>
        <section class="my_model" :style="{display:deldisplay?'block':'none'}">
            <p class="title">删除宝贝<span class="closeModel" @click="rmgoodsno">X</span></p>
            <p>您确认要删除该宝贝吗？</p>
            <div class="opBtn"><a @click="rmgoodsyes" href="javascript:;" class="dialog-sure">确定</a><a
                    @click="rmgoodsno" href="javascript:;" class="dialog-close">关闭</a></div>
        </section>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>