<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表渲染</title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <style>
        .container {
            padding: 20px;

        }
    </style>
</head>

<body>
    <div id="app">
        <todo-list></todo-list>
    </div>

    <!-- 存放模板的template -->
    <template id="todolist">
        <div class="container">
            <!-- 在这里引入子组件 -->
            <todo-form :tasklist="taskList" :addlist="addList"></todo-form>
            <todo-content :tasklist="taskList"></todo-content>
        </div>
    </template>

    <!-- todofrom代码 -->
    <template id="todoform">
        <div>
            <h2>待完成事项 todolist</h2>
            <div class="input-group mb-3">
                <input type="text" v-model.trim="cons" ref="keywords" @keyup.enter="additem()" class="form-control"
                    placeholder="要完成的任务" autofocus>
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                        <input v-model="endtime" type="date"
                            style="border:0;outline:0;height: 20px;background: transparent;">
                    </span>
                    <button type="button" class="btn btn-success" @click="additem()">添加</button>
                </div>
            </div>
        </div>
    </template>

    <!-- todocontent的代码 -->
    <template id="todocontent">
        <div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            <input v-model="checkall" type="checkbox" name="" id="">
                            全选
                        </th>
                        <th scope="col">#</th>
                        <th scope="col">待办事项</th>
                        <th scope="col">预计完成事件</th>
                        <th scope="col">是否完成</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr is="todo-item" v-for="(item, index) in tasklist" :key="item.id" :item="item" :index="index"
                        @click="select(index)">
                    </tr>
                </tbody>
            </table>
        </div>
    </template>


    <!-- todoitem的内容 -->
    <template id="todoitem">
        <tr>
            <th scope="row"><input type="checkbox" name="" id="" v-model="item.isSelected"></th>
            <td>{{ index + 1 }}</td>
            <td>{{ item.msg }}</td>
            <td>{{ item.endtime }}</td>
            <td>{{ item.completed }}</td>
            <td>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-success btn-sm" @click.stop.once="change(index)">完成</button>
                    <button type="button" class="btn btn-danger btn-sm" @click.stop="remove(index)">删除</button>
                </div>
            </td>
        </tr>
    </template>
</body>
<script src="../../vue.js"></script>
<script>



    (() => {

        //三个子组件
        let todoForm = {
            template: '#todoform',
            props: ['addlist', 'tasklist'],
            data: function () {
                return {
                    cons: '', //输入任务可以获取到
                    endtime: ''
                }
            },
            methods: {
                additem() {
                    //如果不为空就插入数据
                    if (this.cons) {
                        let con = {
                            id: this.tasklist.length + 1,
                            msg: this.cons,
                            completed: '否',//未完成
                            isSelected: false,
                            endtime: this.endtime
                        }
                        this.addlist(con);
                        //清空数据并聚焦
                        this.cons = '';
                        this.$refs.keywords.focus();
                    }
                }
            }
        }

        let todoItem = {
            template: '#todoitem',
            props: ['item', 'index']
        }

        let todoContent = {
            template: '#todocontent',
            props: ['tasklist'],
            computed: {
                checkall: {
                    get() {
                        //m-v  数据->视图
                        // let istrue = true;
                        // this.taskList.forEach(item => {
                        //     if(!item.isSelected) {
                        //         istrue = false;
                        //     }
                        // })
                        // return istrue;

                        //每一项都为真才为真,全部为真就是勾选完了，再全选
                        let istrue = this.tasklist.every(item => item.isSelected);
                        // console.log(istrue);
                        return istrue;
                    },

                    set(val) {
                        //v-m 视图->数据
                        // console.log(val);
                        //全选控制下面所有
                        this.tasklist.forEach(item => {
                            item.isSelected = val;
                        });

                    }


                }
            },
            components: {
                todoItem
            }
        }



        //开发todolist组件
        Vue.component('todo-list', {
            template: '#todolist',
            data: function () {
                return {
                    taskList: [//默认的任务数据
                        {
                            id: 1,
                            msg: '定个小目标，完成一个亿',
                            completed: '否',//未完成
                            isSelected: false,
                            endtime: '2019-12-25'
                        }
                    ]

                }
            },
            components: {
                todoForm,
                todoContent
            },
            methods: {
                addList(con) {
                    //添加新的任务

                    //非空才插入数据
                    this.taskList.push(con);//新任务放在下面
                    //清空数据并聚焦
                    this.cons = '';
                    //js给节点绑定 节点.focus()  在节点上面绑定属性：autofucus也可以聚焦，但是在一些浏览器会失效 移动端苹果浏览器失效 safari
                    // this.$refs.taskele.focus();


                },
                change(index) {
                    //点击完成的时候，把状态改成 是
                    // this.taskList.forEach((item, i) => {
                    //     if (i == index) {
                    //         item.completed = '是';
                    //     }
                    // });

                    this.taskList[index].completed = '是';
                },
                remove(index) {
                    //删除任务
                    let isok = confirm('您确定要删除吗？');
                    if (isok) {

                        this.taskList.splice(index, 1);
                    }
                },
                select(index) {
                    this.taskList[index].isSelected = !this.taskList[index].isSelected;
                }
            }
        });


        let vm = new Vue({
            el: '#app',
            data: {
                taskList: [//默认的任务数据
                    {
                        id: 1,
                        msg: '定个小目标，完成一个亿',
                        completed: '否',//未完成
                        isSelected: false,
                        endtime: '2019-12-25'
                    }
                ],
                cons: '', //输入任务可以获取到
                endtime: ''
            },

            computed: {
                checkall: {
                    get() {
                        //m-v  数据->视图
                        // let istrue = true;
                        // this.taskList.forEach(item => {
                        //     if(!item.isSelected) {
                        //         istrue = false;
                        //     }
                        // })
                        // return istrue;

                        //每一项都为真才为真,全部为真就是勾选完了，再全选
                        let istrue = this.taskList.every(item => item.isSelected);
                        // console.log(istrue);
                        return istrue;
                    },

                    set(val) {
                        //v-m 视图->数据
                        // console.log(val);
                        //全选控制下面所有
                        this.taskList.forEach(item => {
                            item.isSelected = val;
                        });

                    }


                }
            },

            methods: {
                addList() {
                    //添加新的任务
                    if (this.cons.trim()) {
                        //非空才插入数据
                        let con = {
                            id: this.taskList.length + 1,
                            msg: this.cons,
                            completed: '否',//未完成
                            isSelected: false,
                            endtime: this.endtime
                        }
                        this.taskList.push(con);//新任务放在下面

                        //清空数据并聚焦
                        this.cons = '';
                        //js给节点绑定 节点.focus()  在节点上面绑定属性：autofucus也可以聚焦，但是在一些浏览器会失效 移动端苹果浏览器失效 safari
                        this.$refs.taskele.focus();
                    }

                },
                change(index) {
                    //点击完成的时候，把状态改成 是
                    // this.taskList.forEach((item, i) => {
                    //     if (i == index) {
                    //         item.completed = '是';
                    //     }
                    // });

                    this.taskList[index].completed = '是';
                },
                remove(index) {
                    //删除任务
                    let isok = confirm('您确定要删除吗？');
                    if (isok) {

                        this.taskList.splice(index, 1);
                    }
                },
                select(index) {
                    this.taskList[index].isSelected = !this.taskList[index].isSelected;
                }
            }
        });


    })();

</script>

</html>